/* Estilos generales para la página */
.create-note-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    background-color: #1e1e1e;
    height: 100vh;
    width: 100vw;
    color: #d1d1d1;
  }
  

  .buttons{
    display: flex;
    flex-direction:row;
    
  }
  .nav-buttons {
    display: flex;

    width: 100%; /* Ajusta el contenedor de los botones al ancho del componente */
  }
  .nav-buttons img{
    display: flex;
    align-items: flex-start;
  }

  
  .right-buttons {
    display: flex;
    gap: 10px; /* Espacio entre los botones de la derecha */
  }


  /* Botones de navegación */
  .nav-buttons {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 8px;
  }
  
  .nav-buttons button {
    background: none;
    border: none;
    color: #d1d1d1;
    font-size: 24px;
    cursor: pointer;
  }
  
  /* Estilos para el título */
  .title-input {
    font-size: 60px;
    width: 100%;
    color: #d1d1d1;
    background: none;
    border: none;

    margin: 16px 0;
    outline: none;
    font-size: 50px;
  }
  
  /* Estilos para el área de contenido */
  .content-textarea {
    width: 100%;
    height: 60vh;
    background: none;
    border: none;
    font-size: 18px;
    color: #d1d1d1;
    resize: none;
    outline: none;
    padding: 8px 0;
  }
  
  /* Estilo para el botón de guardar */
  .save-button {
    background-color: #333;
    color: #d1d1d1;
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 16px;
  }
  