.notes-page {
    /* Estilos generales de la página */
    background-color: #282c34; /* Color de fondo oscuro */
    color: white; /* Color de texto blanco */
    min-height: 100vh; /* Altura mínima de la ventana */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  }
  
  .create-note-button {
    /* Estilos del botón */
    background-color: #007bff; /* Color de fondo azul */
    color: white;
    border: none;
    border-radius: 50%; /* Botón circular */
    width: 60px;
    height: 60px;
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }